*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
:root{
    --preto: black;
    --branco: white;
    --verde: rgb(191, 225, 210);
}
@media (max-width:650px){
    header {
        flex-direction: column;
    }
    
}

header > div > ul > li > img {
    height: 60px;
}
header > div > ul > li {
    margin-right: 40px;
    height: 60px;
    display: flex;
    align-items: center;
}
.localiza{
    height: 17px;
    
}
header > div > ul > li > a{
    text-decoration: none;
    font-family: arial;
    font-weight: 700;
    color: black;
    transition: 250ms;
}
header > div > ul > li > a:hover{
    text-decoration: none;
    font-family: arial;
    font-weight: 700;
    color: rgb(130, 130, 130);
    transition: 250ms;
}
.encontre{
    color: black;
    font-weight: 700;
    transition: 250ms;
}
.encontre:hover{
    color: rgb(139, 139, 139);
    font-weight: 700;
    transition: 250ms;
}
.entrar {
    border: 2px solid black;
    color: black;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
}
.entrar:hover{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
    background-color: black;
}
.participe {
    border: 2px solid black;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    transition: 250ms;
}
.participe:hover {
    border: 2px solid black;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 250ms;
}
header > div > ul{
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
header > nav > ul > li {
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}
header > nav > ul > li > a {
    text-decoration: none;
    font-family: arial;
}
header > nav > ul{
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgb(199, 199, 199);
}
li{
    text-decoration: none;
}

main{
    max-width: 1300px;
    margin: 0 auto;
}
main > img {
    width: 100%;
}

.saiba {
    text-align: center;
    background-color: var(--verde);
    padding: 70px;
   
}
.saiba > p{
    margin-bottom: 30px;
}
.bot-saiba{
    border: 2px solid black;
    color: black;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
    text-decoration: none;
}
.bot-saiba:hover{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
    background-color: black;
}

.baixe{
    border: 2px solid black;
    color: black;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
    text-decoration: none;
}
.baixe:hover{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
    background-color: black;
}
@media (max-width:650px){
    .img2 {
        flex-direction: column;
    }
    .img2 {
        width: 100%;
    }
}
.div2 {
    background-color: var(--verde);
    margin-top: 10px;
    display: flex;
}
.img1 {
    width: 50%;
}
.div2 > h2 {
    margin: 0 auto;
}
.div2 > p {
    margin: 0 auto;
}
.text {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}
.div2 {
    display: flex;
    align-items: center;
}
.text > p {
    margin-bottom: 30px;
}
.saiba-mais{
    border: 2px solid black;
    color: black;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
    text-decoration: none;
}
.saiba-mais:hover{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: 700;
    transition: 250ms;
    background-color: black;
}
.img2 {
    width: 50%;
}
.text2 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    margin-right: 120px;
    margin-left: 120px;
}
.text2 > p {
    margin-bottom: 30px;
}
hr {
    margin: 20px;
}
footer {
    
}
footer > div {
    display: flex;
    font-size: 11px;
    justify-content: center;
}
footer > div > ul {
    margin: 15px;
    list-style-type: none;
}
footer > div > ul > li{
    margin: 10px;
}
.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.politica{
    display: flex;
}
footer > p {
    text-align: center;
    font-size: 7px;
}
